@import "tailwindcss";

@theme {
  --color-gray-medium: #585858;
  --color-gray: #949494;
  --color-gray-light: #b7b7b7;
  --color-gray-bg: #f7f7f7;
}

@theme inline {
  --font-sans: var(--font-gotham), Helvetica, Arial, sans-serif;
}

body {
  background: #fff;
  color: #000;
}
